{% extends "base.html" %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'plots/css/style.css' %}" />
{% endblock %}

{% block content %}
<div id="content">
	<img src="{% static 'plots/img/plotting.png' %}" alt="Courbe_Fourier" id="mainPlot"/>
	
	<div id="settings">
		<div class="settingBlock">
			<header>Composantes</header>
			<form action="{% url "plotsPage" %}" method="post">
				{% csrf_token %}
				{{ formComponents.as_p }}
				{# <p type="submit">VALDDE</p> #}
				<input type="submit" value="Valider" class="button" />
			</form>	
		</div>
		<div class="settingBlock">
			<header>Graphique</header>
			<form action="{% url "plotsPage" %}" method="post">
				{% csrf_token %}
				{{ formGraphic.as_p }}
				<input type="submit" value="Valider" class="button" />
			</form>	
		</div>
		<div class="settingBlock">
			<header>Valeurs</header>
			<form action="{% url "plotsPage" %}" method="post">
				{% csrf_token %}
				{{ formValues.as_p }}
				<input type="submit" value="Valider" class="button" />
			</form>	
		</div>
	</div>
	<img src="{% static 'plots/img/An_Bn_plots.png' %}" alt="An_Bn_plots" id="coefPlot"/>
	<img src="{% static 'plots/img/phin_plot.png' %}" alt="phi_plot" id="phiPlot"/>
</div>
{% endblock %}