{% extends "base.html" %}
<!-- {% load static %} -->

{% block imports %}
 <link rel="stylesheet" href="{% static 'plots/css/style.css' %}" />
{% endblock %}

{% block content %}
<img src="{% static 'plots/img/plotting.png' %}" alt="Courbe_Fourier"/>
<div id="command">
	<!-- <form class="inputBlock">
		<label class="inputText">Nombre de termes</label>
		<input type='number' class="inputField" id="nMax_field" />
		<label class="inputText">Nombre de points</label>
		<input type='number' class="inputField" id="numberPoints_field" />		
		<input type="submit" value="Valider" />
	</form> -->
	<div class="inputBlock">
		<label class="inputText">Nombre de termes</label>
		<input type='number' class="inputField" id="nMax_field" />
	</div>
	<div style=border: 2px red solid  class="inputBlock">
		<label class="inputText">Nombre de points</label>
		<input type='number' class="inputField" id="numberPoints_field" />
	</div>
</div>
<!-- <input type='button' id="valid" onclick="fichier1()"/> -->
{% endblock %}