header
{
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}

*
{
	color: grey;
	font-family: Arial;
}

li
{
	list-style: none;

}

nav
{
	
}

body
{
	background-color: #0E2116;
}

#img_pi
{
	float: right;
	max-height: 200px;
	width: auto;
}