{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
 <link rel="stylesheet" href="/static/css/style.css" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap" />
 {% block imports %}{% endblock %}

 <title>{% block title %}Séries de Fourier{% endblock %}</title>
</head>

<body>
    <!-- <header>Séries de Fourier</header> -->
    <nav>
        <a class="navLink" href="/"><div class="navBox">Accueil</div></a>
        <a class="navLink" href="/plots/"><div class="navBox">Tracés</div></a>
        <a class="navLink" href="/help"><div class="navBox">Aide</div></a>
    </nav>
<section id="content">
 {% block content %}{% endblock %}
</section>
</body>
</html>