{% extends "base.html" %}
{% load static %}


{% block content %}
 <p id="introduction">
 En analyse mathématique, les séries de Fourier sont un outil fondamental dans l'étude des fonctions périodiques. C'est à partir de ce concept que s'est développée la branche des mathématiques connue sous le nom d'analyse harmonique. Un signal périodique de fréquence f et de forme quelconque peut être obtenu en ajoutant à une sinusoïde de fréquence f (fondamentale), des sinusoïdes dont les fréquences sont des multiples entiers de f. Ces signaux ont des amplitudes et des positions de phase appropriées.</p>
 <p>
{% endblock %}